@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

$green: #36cd61;
$background-color:$green;
$tag-background-color:#839cc7;
$tag-color: #fff;

// Update Bulma's global variables
$family-sans-serif: 'Nunito Sans', sans-serif; 
$primary: $green;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/elements/tag.sass';
@import '../node_modules/bulma/sass/elements/icon.sass';